<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;700&family=Permanent+Marker&display=swap"
      rel="stylesheet">
  </head>
  <body>
    <div class="index_container">
      <header>
        <div class="logo">
          <a href="/">
            <img src="https://cdn.discordapp.com/attachments/882362353507778613/975983795847172156/logo2-01-removebg-preview.png"
              alt="logo">
          </a>
        </div>
      
        <!-- <a href="/login" class="invisble">Sign in</a> -->
      </header>
      
      <div class="index_section">
        <div class="left">
          <h2>The Stony Hill Primary School</h2>
          <!-- <h1>Stony Hill</h1> -->
          <h3>Library</h3>
          <br><br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod id sint nobis unde molestias reprehenderit. Unde dolores accusamus similique, dignissimos, recusandae excepturi nemo maiores sint nulla vero ipsa aut iste esse consequuntur! Sint voluptas debitis voluptatem molestias officiis saepe ab quibusdam facilis, totam ducimus quasi incidunt neque. Commodi, maiores libero!</p><br><br><br>

          <a href="/books">See Books</a>
        </div>

        <div class="right">
          <img src="https://media.discordapp.net/attachments/889362805713678407/978747222382481468/8vla_p660_210826.jpg?width=1212&height=576" alt="">
        </div>
      </div>

    </div>
  </body>
</html>